@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

button {
  background-color: transparent;
}

body {
  font-size: 16px;
  line-height: 130%;
  color: #333333;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  word-wrap: normal;
}

.row {
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  background: linear-gradient(90deg, rgb(38, 181, 236) 0%, rgb(60, 215, 226), rgb(38, 181, 236) 100%);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 200%;
  animation: gradient 2s ease infinite;
  font-weight: 600;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.content__text {
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 20px;
}
.content__text a {
  border-bottom: 2px dotted rgb(60, 215, 226);
}

.content__place-info {
  display: flex;
  gap: 60px;
  margin-bottom: 30px;
}
.content__place-info iframe {
  width: 100%;
  min-height: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.content__info-wrapper h2 {
  line-height: 120%;
  text-align: center;
  margin-bottom: 12px;
}

.content__info {
  margin: auto 0;
}
.content__info div {
  position: relative;
}
.content__info div:nth-child(1):before {
  content: url("../img/sumy/content-top/icons/icon-geo.svg");
}
.content__info div:nth-child(2):before {
  content: url("../img/sumy/content-top/icons/icon-oclock.svg");
}
.content__info div:nth-child(3):before {
  content: url("../img/sumy/content-top/icons/icon-phone.svg");
}
.content__info div:nth-child(4):before {
  content: url("../img/sumy/content-top/icons/icon-inst.svg");
}
.content__info div::before {
  position: absolute;
  top: 5px;
  left: -35px;
}
.content__info div {
  margin-bottom: 12px;
}
.content__info div:nth-child(4) {
  margin-bottom: 0px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .content__text {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 12px;
  }
  .content__place-info {
    gap: 60px;
  }
  .content__place-info iframe {
    min-height: 220px;
  }
}
@media (max-width: 800px) {
  .content__place-info {
    display: block;
  }
  .content__info {
    padding: 20px 10px 0 40px;
    display: flex;
    -moz-column-gap: 50px;
         column-gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .content__info {
    justify-content: space-evenly;
  }
}
@media (max-width: 400px) {
  .content__info {
    justify-content: center;
  }
}
@media (max-width: 335px) {
  h1 {
    font-size: 24px;
  }
  .content__text {
    font-size: 16px;
    margin-bottom: 8px;
  }
}
@media (max-width: 300px) {
  h1 {
    font-size: 21px;
  }
  .content__text {
    font-size: 14px;
  }
}
.swiper {
  max-width: 1000px;
  width: 100%;
  height: 320px;
  margin: 0 auto;
}

.swiper-wrapper {
  box-sizing: content-box;
}

.swiper-slide {
  border-radius: 10%;
  margin: auto 0;
  display: flex;
  height: 250px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 60px;
  transition: all ease-out 0.3s;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff;
  font-size: 40px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.content__range h2 {
  text-align: center;
  margin-bottom: 10px;
}
.content__range ul li {
  margin-bottom: 7px;
}

.content__text-block div {
  margin-bottom: 40px;
}
.content__text-block h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.content__text-block ul li {
  margin-bottom: 10px;
}
.content__text-block .reviews p {
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */